
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Simple Dashboard</title>

</head>
<body>

  <div class="sidebar">
    <h2>لوحة التحكم</h2>
   <a routerLink="/dashboard/hotels" routerLinkActive="active"> الفنادق</a>
    <a routerLink="/dashboard/rooms" routerLinkActive="active">الغرف</a>
    <a routerLink="/dashboard/seasons" routerLinkActive="active">المواسم</a>
    <a routerLink="/dashboard/bookings" routerLinkActive="active">الحجوزات</a>
  </div>

  <div class="main">
    <div class="header">
      <h1>مرحبًا بك في لوحة التحكم</h1>
    </div>


      <router-outlet></router-outlet>

  </div>

</body>
</html>
