  <div class="sidebar">
    <h2>لوحة التحكم</h2>
   <a routerLink="/dashboard/hotels" routerLinkActive="active"> الفنادق</a>
    <a routerLink="/dashboard/rooms" routerLinkActive="active">الغرف</a>
    <a routerLink="/dashboard/seasons" routerLinkActive="active">المواسم</a>
    <a routerLink="/dashboard/bookings" routerLinkActive="active">الحجوزات</a>
  </div>

  <div class="main">
    <div class="header">
      <h1>مرحبًا بك في لوحة التحكم</h1>
    </div>

    <div class="content">
     <router-outlet></router-outlet>
  </div>
  </div>