

<table class="table table-striped">
    <thead>
        <tr>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Price</th>
        <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let room of rooms">
        <td>{{ room.roomNumber }}</td>
        <td>{{ room.roomType }}</td>
        <td>{{ room.pricePerNight }}</td>
        <td>{{ room.isAvailable ? 'Available' : 'Not Available' }}</td>
        <td>
            <!-- <button class="btn btn-info" (click)="viewRoomDetails(room)">View Details</button>  -->
            <!-- <button class="btn btn-success" (click)="editRoom(room.id)">Edit</button> -->
            <button class="btn btn-danger" (click)="deleteRoom(room.id)">Delete</button> 
         </td>
    </tr>
    </tbody>
</table>